.navbar {
    background-color: #393e41;
    color: #f6f7eb;
}   

nav {
    padding: 5px 
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: flex;

}
