@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #393e41;
    color: #f6f7eb;
}   

body {
    padding: 0;
    margin: 0;
}

nav {
    padding: 0 14px;
    height: 64px; 
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

nav ul li {
    display: flex;
    padding: 0 ;
    height: 64px;
}

nav ul li i {
   padding-top: 10px;

}

.logo{
    padding: 0 5px;
}

.single-chat img{
    width: 58px;
    height: 58px;
    border: 3px solid #0fa3b1;
    border-radius: 8px;
    margin-right: 10px;
    flex-grow: 0;
}

.single-chat{
    padding: 7px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #80808045;
}

.contact {
    flex-grow: 6;
    width: 53%;
}

.contact, .contact-right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7px;
}

.contact-line1 {
    line-height: 1.2em;
    font-size: 1.1em;
}

.contact-line2 {
    font-size: 0.9em;
}

.c-time{
    font-size: 0.9em;
    text-align: right;
}

.c-name, .c-role {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.c-badge {
    text-align: right;
}

.c-notify {
    border: 3px solid #0fa3b1;
    border-radius: 20px;
    text-align: center;
    padding: 0 6px;
}

.site-tablet {
    display: none;
}

@media (min-width: 993px) {
    .content {
        display: flex;
    }

    .chat-list {
        flex-grow: 0;
        width: 365px;
    }

    .side-tablet {
        display: block;
    }

}